*{
    margin: 0;
    padding: 0;
}
.text_left{
    text-align: left;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: auto;
}


body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}
 /*Start Menu Section*/
.header_section {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
}
.header_section a{
    color: #010101;
}
.header_logo{
    width: 30%;
}
.logo img {
    height: 60px;
    float: left;
    margin-right: 10px;
}
.logo span {
    display: inline-block;
    margin-top: 14px;
    font-size: 26px;
    font-weight: 500;
}
.header_menu {
    width: 56%;
}
.header_button {
    width: 14%;
    text-align: right;
}
.header_btn {
	border: 2px solid #6278df;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 10px;
	margin-top: 8px;
	color: #6278df !important;
	font-size: 17px;
	font-weight: 600;
}

.main_menu ul li{
    display: inline-block;
}
.main_menu ul li a {
    display: block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 60px;
}


/*  DropDown Mneu  */

.main_menu ul li{
    position: relative;
}
.main_menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top center;
}
.main_menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/* End Menu Section */

/* Start Banner Section */
.banner_section {
	background: url(./image/backgroud.jpg) no-repeat center center;
	background-size: cover;
	padding: 200px 0;
	color: #fff;
	position: relative;
	z-index: 9;
	margin-top: 70px;
}
.banner_section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

.banner_content h3 {
    font-size: 26px;
    font-weight: 400;
}
.banner_content h2 {
    font-size: 60px;
    margin: 30px 0;
}

.banner_btn {
	color: #7d7d7d;
	padding: 20px 30px;
	background: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
    border-radius: 10px;
    transition:.4s;
}
.banner_btn:hover{
    background: #6278df;
    color: #fff;
}


.banner-bottom{
    background: #f7f9ff;
    padding: 100px 0;
}
.video_left{
    width: 48%;
}
.video_content_right{
    width: 48%;
}
.video_content_right h3 {
    font-size: 51px;
    font-weight: 400;
    margin-bottom: 35px;
}
.video_content_right p {
    color: #767676;
    font-size: 18px;
    line-height: 1.7em;
}
/* End Banner Section  */

/*  Start Servcie Section  */
.service_section{
    background: #fff;
    padding: 100px 0;
}

.section_title h1 {
    font-size: 46px;
    margin-bottom: 30px;
}
.section_title p {
    color: #767676;
    font-size: 26px;
}


.services_items {
    margin-top: 90px;
}
.service_box {
    width: 31.3%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.1);
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 25px;
    box-sizing: border-box;
}
.service_icon {
    width: 60px;
    float: left;
    min-height: 168px;
    font-size: 45px;
    color: #6278df;
    margin-right: 10px;
}
.service_content {
    margin-top: 8px;
}
.service_content h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}
.service_content p {
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}